.videoSidebar{
    position: absolute;
    top: 40%;
    right: 10px;
    color: white;
}

.videoSidebar_button{
    /* color: white; */
    padding-right: 20px;
    /* padding-bottom: 0; */
    margin-bottom: 25px;
    text-align: center;
}

.videoSidebar_button:hover{
    color: red;
}

.videoSidebar_button > p {
    padding-top: 0;
    margin-top: 0;
}