html{
  scroll-snap-type:y mandatory;
  scroll-snap-align: start;
}

.app{
  height: 100vh;
  background-color:black ;
  display: grid;
  place-items: center;
  padding-top: 60px;
}
.app_videos{
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}


/* hide for Chrome, Safari and opera */
.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  /* Hide scrollbar for Internet Explorer, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}